.book-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px;
}

.book-info {
    margin: 30px;
    padding: 10px;
}

.book-image img{
    width: 250px;
}

.book-image button {
    padding: 8px 75px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: green;
    border: 0;
    color: white;
}

.book-info img {
    width: 150px;
}

.book-info .rate {
    font-size: 25px;
}

.book-rec {
    padding: 10px;
}

.book-rec .rec{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.book-rec .rec img {
    width: 200px;
}

.book-rec .rec h3 img {
    position: sticky; 
    top: 112px;
}

.rating-image, .rate {
    display: inline-block;
    padding-bottom: 10px;
}

.book-image img {
    position: sticky; 
    top: 112px;
}

