/* Header Section */
.header-section{
    background-color: rgb(255, 134, 28);
    height: 60vh;
    display: flex;
    gap: 5rem;
}

.header-section .book-details {
    align-self: center;
    text-align:inherit;
    padding-left: 80px;
}

.header-section .book-details h1, p {
    color: white;
}

.header-section .book-details p {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.header-section .book-slide {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    margin-right: 30rem;
}

.header-section .book-slide img {
    width: 100%;
    padding-top: 80px;
}

/* Main Section */
img{
    width: 150px;
    object-fit: contain;
}

.books-grid {
    margin-top: 10px;
}

.book-preview {
    vertical-align: bottom;
    display: inline-block;
    margin: 15px;
}

.book-preview button {
    background-color: green;
    padding: 5px 48px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
}

.book-preview button a {
    text-decoration: none;
    color: white;
}